@model IEnumerable<DAL.Models.HotelService>

<h2>Hotels</h2>

<form method="get" asp-action="Results">
    <input name="city" placeholder="City" />
    <button>Search</button>
</form>

<hr />

@foreach (var item in Model)
{
    <div style="border:1px solid gray; margin:10px; padding:10px;">

        <h3>@item.Hotel_Name</h3>

        <p>@item.Room_Type</p>

        <p>Price: @item.Service.BasePrice</p>

       
        <a asp-controller="Hotel"
               asp-action="Details"
               asp-route-serviceId="@item.ServiceId">
            book
        </a>

    </div>
}