@model DAL.ViewModels.ServiceVM

<h2>Confirm Booking</h2>

<p>Title: @Model.Title</p>
<p>Type: @Model.Type</p>
<p>Price: @Model.Price</p>

<form method="post"
      asp-action="CreateBooking">

    <input type="hidden"
           name="serviceId"
           value="@Model.ServiceID" />

    <button type="submit">
        Confirm
    </button>

</form>