<h2>Choose Service Type</h2>

<div style="display:flex; gap:20px;">

    <a asp-controller="Flight"
       asp-action="Index"
       style="padding:20px; border:1px solid black;">
        ✈️ Flights
    </a>

    <a asp-controller="Hotel"
       asp-action="Search"
       style="padding:20px; border:1px solid black;">
        🏨 Hotels
    </a>

    <a asp-controller="Transport"
       asp-action="Search"
       style="padding:20px; border:1px solid black;">
        🚕 Transport
    </a>

</div>